* {
    box-sizing: border-box;
}
body {
    background-color:#1d1d1d;
    font-family:'Lato',Helvetica,Arial;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
}
.models {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#2b2b2b;
    display:none;
    justify-content: flex-end;
    align-items: center;
}

/* Logo */
.logo img {
    width: 100%; /* Ajuste a largura da logo para ocupar toda a tela */
    max-width: 200px; /* Limita o tamanho da logo */
    margin: 0 auto; /* Centraliza a logo */
    display: block;
}

/* Estilos do menu de categorias */
.categorias {
    text-align: center;
    margin: 0 0;
}

.categorias button {
    background-color: #9e5817;
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.categorias button:hover {
    background-color: #eb882b;
}

.categorias button.ativo {
    background-color: #6b2108;
    color: #fff;
}

/* Carrossel Container */
.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family:'Hepta Slab', Helvetica, Arial;
}

/* Carrossel */
.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item {
    min-width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
}

.item img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Garante ajuste da imagem */
    filter: brightness(0.7); /* Escurece um pouco a imagem */
    border-radius: 10px;
}

/* Conteúdo do Carrossel */
.conteudo {
    display: flex;
    flex-direction: column;
    width: 95%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
}

.conteudo h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #eb882b;
}

.conteudo p {
    font-size: 16px;
    margin-bottom: 5px;
}

.conteudo span {
    font-size: 18px;
    font-weight: bolder;
    color: #eb882b;
    margin-right: 5px;
    margin-bottom: 5px;
}

.conteudo button {
    background-color: rgba(10, 6, 0, 0.507);
    padding: 10px;
    border-radius: 10px;
    border-color: #eb882b;
    font-size: 12px;
    font-weight: bolder;
    color: #eb882b;
    font-family:'Hepta Slab', Helvetica, Arial;
}

/* Setas de navegação */
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 0;
}

.seta:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.esquerda {
    left: 10px;
}

.direita {
    right: 10px;
}
/* fim */

.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #111111;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}
.menu-openner span {
    margin-right:10px;
}
.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#ffffff;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
    color: #000000;
}
aside.show {
    width:30vw;
}
.cart--area {
    padding:20px;
}
main {
    flex:1;
    padding:20px;
}
h1 {
    font-family:'Hepta Slab', Helvetica, Arial;
}
.menu-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.menu-item {
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.menu-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.menu-item--img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:100px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}
.menu-item--img img {
    width:100%;
    height:auto;
}
.menu-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#388bc5;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}
.menu-item a:hover .menu-item--add {
    background-color:#244c88;
}
.menu-item--price {
    font-size:15px;
    color:#333;
    margin-top:5px;
}
.menu-item--name {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}
.menu-item--desc {
    font-size:13px;
    color:#555;
    margin-top:10px;
}

.menuWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.menuWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.menuBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menuBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.menuBig img {
    border-radius: 50%;
    height:350px;
    width:350px;
}
.menuInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}
.menuInfo h1 {
    margin-top:50px;
}
.menuInfo .menuInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}
.menuInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}
.menuInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.menuInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}
.menuInfo--size:hover {
    background-color:#CCC;
}
.menuInfo--size.selected {
    background-color:#399ade;
    color:#FFF;
}
.menuInfo--size.selected span {
    color:#D6D6D6;
}
.menuInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.menuInfo--price {
    display:flex;
    align-items:center;
}
.menuInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}
.menuInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.menuInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.menuInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.menuInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#6d2c10;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.menuInfo--addButton:hover {
    background-color:#bc6a1d;
}
.menuInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}
.menuInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}
.cart {
    margin-bottom:20px;
}
.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
    border-radius: 50%;
}
.cart--item-nome {
    flex:1;
}
.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #6d2c10;
    color:#411604;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#6d2c10;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#bc6a1d;
}

@media (max-width:1000px) {
    .menu-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .menu-area {
        display:block;
    }
    .menu-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    main {
        padding-top:60px;
    }

    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart--area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .menuWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .menuWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .menuBig img {
        width: 300px;
        height: 300px;
    }

    .menuInfo h1 {
        margin-top:20px;
    }

    .menuInfo--qtarea {
        height:60px;
    }
    .menuInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }
    .menuInfo--qt {
        line-height: 60px;
        font-size:20px;
    }
    .menuInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .menuInfo--cancelButton {
        display:none;
    }
    .menuInfo--cancelMobileButton {
        display:block;
    }
}